.conteneurPrincipal_Class{
    position: absolute;
    z-index: 99;
    top: 5em;
    bottom: 1em;
    left: 5em;
    right: 5em;
    border: 1px dashed black;
    background-color: aqua;
    
}
.cP_BoutonSuppr_Class{
    position: absolute;
    top: 1em;
    left: 5em;
    height: 5em;
    width: 5em;
    height: auto;
    width: auto;
}
.image{
    position: absolute;
    top: 1em;
    left: 5em;
    height: 5em;
    width: 5em;
}
.ligne1{
    height: 10em;
    width: 100%;
    border: 1px dashed saddlebrown;
}