* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-image: url(../dossierImage/superheroes-dc-comics-8k-dark-background-wallpaper-preview.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}
.backGroundPageGénérale {
    
    height: 100%;
    width: 100%;
    
}
.boutonJouer, .boutonJouerCDC {
    height: 3rem;
    width: 12rem;
    background-color: #F4243D;
    opacity: 78%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px white;
    margin: 1rem;
    transition: 0.5s;
}
.divButton{
    align-self: self-end;
    padding-bottom: 4%;

}
.boutonJouer:hover, .boutonJouerCDC:hover{
    background-color: #ffffff;
    color: #F4243D;
}
.boutonBibliothèque {
    height: 3rem;
    width: 12rem;
    background-color: #F4243D;
    opacity: 78%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px white;
    margin: 1rem;
    transition: 0.5s;
}

.boutonBibliothèque:hover {
    background-color: #ffffff;
    color: #F4243D;
}
a {
    text-decoration: none;
}
.glass{
    position : absolute;
    display : flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index : 10;
    background-color: rgba(0,0,0,0.25);
 
}
.popUpChoixDesCombatants{
    z-index : 15;
    position : absolute;
    right : 30rem;
    display : flex;
    flex-direction: column;
    background: rgb(212,0,25);
    background: linear-gradient(0deg, rgba(212,0,25,0.81) 0%, rgba(212,0,25,0) 100%);
    border-radius: 3%;
    width : 120vh;
    height : 85vh;

}
.headerCDC{
    display :flex;
    flex-direction: row;
    justify-content: space-around;

}
.iconeJoueurs, .iconeOrdi{
    height : 11vh;
    width : 11vh;

}
.compteurCDC{
    display : flex;
    flex-direction: row;
}
.grilleCDC{
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap : 2rem;
    max-height: 30rem;
    overflow-y: hidden;
    margin : 2rem;
}
.grilleCDC:hover{
    overflow-y: scroll;
}
.imageCDC{
    width : 7.3rem;
    height : 8rem;
}
.divCheckImage{
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footerCDC{
    display : flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color : white;
}

.divStats{
    background: rgb(212,0,25);
    background: linear-gradient(0deg, rgba(212,0,25,0.81) 0%, rgba(212,0,25,0) 100%);
    height : 35vh;
    position: absolute;
    right : 2rem;
    display : flex;
    flex-direction: column;
    text-align: center;
    padding : 15px;
    border-radius: 5%;


}
.statsCDC{
    display : flex;
    flex-direction: row;
    align-items: end;
    height : 30vh;
    transition: 0.5s;
}
.forceCDC{
    width : 5vh;
    background-color: blue;
    color : white;
    align-self: self-end;
    transition: 0.5s;
}

.intelligenceCDC {
    width : 5vh;
    background-color: red;
    color : white;
    align-self: self-end;
    transition: 0.5s;
}
.speedCDC {
    width : 5vh;
    background-color: rgb(255, 0, 157);
    color : white;
    align-self: self-end;
    transition: 0.5s;
}

.durabilityCDC{
    width : 5vh;
    background-color: green;
    color : white;
    align-self: self-end;

}
.statDiv{
    display: flex;
    flex-direction: row;
    color : white;
    align-items: center;
    height : 25vh;
    
}
.section{
    display: flex;
    flex-direction: row;
    gap : 2rem;
}
.conteneurParentCDHAJ{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width : 58vh;
    height : 60vh;
    background: rgb(212,0,25);
    background: linear-gradient(0deg, rgba(212,0,25,0.81) 0%, rgba(212,0,25,0) 100%);
    gap : 2vh;
    padding : 2vh;
    border-radius: 5%;
}
.divParentCDHAJ:hover{
    overflow-y: scroll;

}
.divParentCDHAJ{
    overflow-y: hidden;
    height: 50vh;
    max-height: 50vh;
    display : flex;
    flex-direction : row;
    flex-wrap: wrap;
    gap : 2vh;
}
.randomPickHero{
    height : 4rem;
    width : 4rem;
}