* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-image: url(../dossierImage/superheroes-dc-comics-8k-dark-background-wallpaper-preview.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ajustementDivPageNouvellePartie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.divBoutonNavPageNouvellePartie {
    height: 12rem;
    width: 100%;
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
    display: flex;
    justify-content: space-between;
    align-items: end;

}

.boutonJouerPNP {
    height: 3rem;
    width: 12rem;
    background-color: #F4243D;
    opacity: 78%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px white;

    transition: 0.5s;

}

.boutonJouerPNP:hover {
    background-color: #ffffff;
    color: #F4243D;
}

.boutonBibliothequePNP {
    height: 3rem;
    width: 12rem;
    background-color: #F4243D;
    opacity: 78%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px white;

    transition: 0.5s;

}

.boutonBibliothequePNP:hover {
    background-color: #ffffff;
    color: #F4243D;
}

.historiquePNP {
    background-image: url(../dossierImage/historique.png);
    background-size: cover;
    color: #F4243D;
    opacity: 78%;
    height: 5rem;
    width: 5rem;
    cursor: pointer;
}

.cimetierePNP {
    background-image: url(../dossierImage/cimetiere.png);
    background-size: cover;
    height: 5rem;
    width: 5rem;
    cursor: pointer;
}
/* div globale englobant les 4 div joueur généré*/
.divGlobalePageNouvellePartie {
    max-height: 80%;
    width: 95rem;
    height: 70%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 70%;
    
    
    


}
.divJoueurPariSelection {
    height: 10rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.divJoueurClass {
    height: 2rem;
    width: 6rem;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divPariAffichageClass {
    
    opacity: 78%;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}

.divBoutonPlusClass {
    color: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

/* couleur des div et signe par couleur */
.divJoueurBleu {
    background-color: #3424F4;
    opacity: 78%;
}
.divJoueurJaune {
    background-color: #E3F424;
    opacity: 78%;
}
.divJoueurTurquoise {
    background-color: #24F4A9;
    opacity: 78%;
}
.divJoueurVert {
    background-color: #00FF1A;
    opacity: 78%;
}
.signeDollarBleu {
    color: #3424F4;
}
.signeDollarJaune {
    color: #E3F424;
}
.signeDollarTurquoise {
    color: #24F4A9;
}
.signeDollarVert {
    color: #00FF1A;
}

/* création du pop up choix des personnages */

.popUpChoixDesPersonnages {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 800px;
    background: rgb(212,0,25);
    border-radius: 15px;
    background: linear-gradient(0deg, rgba(212,0,25,0.81) 0%, rgba(212,0,25,0) 100%);

}
.glass{
    position : absolute;
    display : flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index : 10;
}